.degrade{
    background: linear-gradient(30deg,rgb(231, 9, 9), rgb(3, 11, 39));
}
*{
  font-family: "Grandstander", cursive;

}
h1{

    text-align: center;
    color:  transparent ;

}
header img{
    width: 300px;
    margin-top: 40px;
    margin-bottom: 30px;
    position: relative;
    margin-left: 40%;
}
#imagePokemon{
    width:200px;
}
.searchPokemon {
    border: 2px solid #ff9900;
    border-radius: 5px;
    background: #0000006b;
    padding: 50px;
    margin: auto;
    box-shadow:#000000 2px 5px 30px;
    max-width: 600px;
}
#namePokemon{
    color: #ff9900;
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
}
#pokemonInfo{
    background: black;
    max-width: 500px;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    border: 0.5px solid #ff9900;
    margin: 50px 40px;
}
p{
    color: white;
    font-weight: 100;
    font-size: 15px;
}

.containPokemon{
    position: relative;
    display: flex;
    margin: 0px;
    width: 500px;
    flex-direction: row;
}
.topPoke{
    width: 300px;
    
    
}
#pokemonInput{
    width: 400px;
    height: 20px;
    margin: 0px 80px 10px 10px;
}
#searchBtn{
    position: absolute;
    background: #ff9900;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: 0px solid;
    box-shadow: #575555 1px 1px 4px;
    color: white;
    font-size: 15px;
}
#nextBtn, #prevBtn {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-color: #ff9900b9;
    border: 0px solid;
    color: hsla(0, 0%, 13%, 1);
    font-size: 23px;
    font-weight: 500;
    transition: transform 0.3s ease;
}
#nextBtn:hover, #prevBtn:hover{
    transform: scale(1.5);
 
}
.navigation{
    width: 600px;
    position: absolute;
    margin: auto;
    display: flex;
}
#prevBtn{
    position: relative;
    top: 150px;
    right: 30px;
}
#nextBtn{
    position: relative;
    top:150px;
    left:530px;
}
.fig{
    width: 200px;
    position: relative;
    top: 150px;
    left: 1500px
}
.pokemonList20{
    max-width: 1800px;
    position: relative;
    display: flex;
    width: 100%;
    margin: auto;
    padding-bottom: 70px;
}
.pokemon{
    max-width: 500px;
    width: 100%;
    margin: auto;
}
.pokemon h3{
    font-size: 13px;
    color: #fff;
    font-weight: 100;
    text-align: center;
}
.pokemon p{
    text-align: center;
}
.pokemon img{
    max-width: 150px;
    width: 100%;
    margin: auto;
}
.filterButton{
    color: #ff9900;
    background: black;
    width: 100px;
    height: 30px;
    border: 0.2px solid #252525;
    font-size: 15px;
    font-weight: 200;
    text-transform: uppercase;
    float: inline-end;
    margin-bottom: 30px;
}
.listPokemons {
    max-width: 1600px;
    width: 100%;
    margin: auto;
}
.filterModal{
    background: #0000006b;
    border: 0.5px solid #FFC107;
    height: 400px;
}
.filterModal h2{
    text-align: center;
    color: #FFC107;
    font-size: 25px;
    font-weight: 200;
    padding-top: 50px;
}
.optionFilter{
    max-width: 500px;
    width: 100%;
    margin: auto;
    padding: 20px 0px;
}
.optionFilter label {
    color: #FFC107;
    font-size: 14px;
}
.optionFilter select{
    font-size: 15px;
    color: #c3c1c1;
    background: #000000;
    width: 300px;
    text-align: center;
    height: 30px;
    margin: 10px 50px;
    border: 1px solid black;
}
.filterModal, .filterOverlay {
    display: none;
}
.optionFilter select option{
    background: rgba(0, 0, 0, 0.26);
    font-size: 14px;
}
.buttonOptionFilter{
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.buttonOptionFilter button {
    margin-top: 30px;
    max-width: 230px;
    width: 100%;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    color: #FFC107;
    background: black;
}
.pokedex button{
    max-width: 200px;
    margin: auto;
    width: 100%;
    height: 30px;
    font-size: 15px;
    color: #000000;
    background: #FF9800;
    border-radius: 5px;
    position: relative;
    left: 30%;

}
.pokedex{
    max-width: 1800px;
    width: 100%;
    margin: auto;

}
.pokedex button{
    margin-top: 50px;
    margin-left: 250px;
}
.myPokedex {
    margin: 20px;
    padding: 20px;
    width:100%;
    max-width: 2400px;;
}

#pokedexList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    max-width: 600px;
    width: 100%;
    margin: auto;
    justify-content: initial;
}

#pokedexList .pokemon {
    background : linear-gradient(30deg,rgba(9, 9, 9, 0.419), rgb(0, 0, 0));;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.myPokedex h2 {
    text-align: center;
    color: #FF9800;
    font-size: 35px;
    margin-bottom: 30px;
}

.myPokedex p {
    font-size: 14px;
    color: #666;
}


