.degrade{
    background: linear-gradient(30deg,rgb(231, 9, 9), rgb(3, 11, 39));
}
*{
  font-family: "Grandstander", cursive;

}
h1{
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    color: rgb(255, 255, 255) ;
    text-transform: uppercase;
}
header img{
    width: 300px;
    margin-top: 30px;
    margin-bottom: 80px;
    position: relative;
    margin-left: 42%;
}
#imagePokemon{
    width:200px;
}
.searchPokemon {
    border: 2px solid #ff9900;
    border-radius: 5px;
    background: black;
    padding: 50px;
    margin: auto;
    box-shadow:#000000 2px 5px 30px;
    max-width: 600px;
}
#namePokemon{
    color: #ff9900;
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
}
p{
    color: white;
    font-weight: 100;
    font-size: 15px;
}

.containPokemon{
    position: relative;
    display: flex;
    margin: 0px;
    width: 500px;
    flex-direction: row;
}
.topPoke{
    width: 300px;
    
    
}
#pokemonInput{
    width: 400px;
    height: 20px;
    margin: 0px 80px 10px 10px;
}
#searchBtn{
    position: absolute;
    background: #ff9900;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: 0px solid;
    box-shadow: #575555 1px 1px 4px;
    color: white;
    font-size: 15px;
}
#nextBtn, #prevBtn {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-color: #ff99007a;
    border: 0px solid;
    color: hsla(0, 0%, 13%, 1);
    font-size: 23px;
    font-weight: 500;
}
.navigation{
    width: 600px;
    position: absolute;
    margin: auto;
    display: flex;
}
#prevBtn{
    position: relative;
    top: 150px;
    right: 20px;
}
#nextBtn{
    position: relative;
    top:150px;
    left:510px;
}

